
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

@media (max-width: 795px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }

.tituloNovedades {
    margin-top:50px;
    margin-bottom:50px;
    padding-top: 15px;
    font-weight: normal;
    font-size: 28px;
    line-height: 1.2em;
    letter-spacing: 0.1em;
}
